@tailwind base;
@tailwind components;
@tailwind utilities;

.col-count-3 {
    column-count: 3;
    column-gap: 5px;
}

.col-none {
    column-count: unset;
}

.col-count-3 div {
    padding-bottom: 20px;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

.globe::before {
    position: absolute;
    content: '';
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url('/src/assets/images/icons.png');
    background-position: 0 -1860px;
}